body{
	margin: 0;
	padding: 0;
	background: url("img/bg.png");
	font-family: 'Titillium Web',sans-serif !important;
}

h1, h2{
	color: #47494A;
	text-align: center;
}

.mil{
	width: 900px;
	margin: auto;
	left: 0;
	right: 0;
}

header {
	text-align: center;
	width: 100%;
	padding-bottom: 20px;
	background-image: url("img/logo.png");
	background-repeat: no-repeat;
	background-size: 200px;
	background-position-y: 15px;
	background-position-x: 20px;
}

header p:last-child{
	font-size: 12px;
	margin: 0;
	padding: 0;
}

#head{
	margin-left: 0px;
	background-size: 150px;
	background-position: 15px 0;
}

header p img{
	width: 20px;
}

.logo{
	width: 200px;
	margin-top: 20px;
	float: left;
	margin-bottom: 20px;
}


.left {
	width: 100%;
	line-height: 30px;
	border-right: 1px solid #babcbd;
	padding-right: 10%;
}

.left > h2 {
	text-align: left;
	font-weight: bold;
}

.left > p, ul {
	font-size: 1.2em;
}

.left ul {
	list-style-type: square;
}


.aplicar{

	color: white;
	background-color: #149203;
	border-radius: 5px;
	padding: 5px 0;
	width: 230px;
	text-align: center;
	border: 1px solid #036e27;
	text-shadow: 1px 1px 1px #036e27;
	box-shadow: 0px 0px 3px 0px #036e27;
	font-weight: 600;
	margin-top: 30px;
}

p{
	color: #505354;
}

li{
	color: #505354;
}

.right2 img{
	width: 45px;
	margin: 5px;
}

.right2 h4 {
	font-weight: bold;
}

a{
	text-decoration: none;
}

.subtitulo {

	width: 100%;
	border-bottom: 1px solid #babcbd;
}

#aplicar {
	width: 100%;
	border-bottom: 1px solid #babcbd;
	text-align: center;
	margin-top: 50px;
	margin-bottom: 50px;
}


#apply:hover {
	text-decoration: none;
}

.border{
	width: 100%;
	height: 1px;
	background-color: #babcbd;
}

.forma{
	left: 0;
	right: 0;
	margin-top: 40px;
	margin-bottom: 40px;
	background-color: white;
	border-radius: 10px;
	background-color: white;
	border: 1px solid #505354;
	color: #505354;
	box-shadow: inset 0px 0px 1px 1px #d0d2d3;
}

.leftform{
	width: 44%;
	float: left;
	padding: 0 3%;
}

.rightform{
	width: 44%;
	float: right;
	padding: 0 3%;
}

.abajoform{
	padding: 10px 2% 0 15px;
}

.redes{
	font-size: 13px;
}

.in{
	width: 95%;
	height: 30px;
	border-radius: 5px;
	border: 1px solid #CCCCCC;
	margin: 10px 0; 
	background: url("img/bg.png");
	color: #505354;
	padding-left: 10px;
}

.areatexto{
	width: 95%;
	height: 100px;
	border-radius: 5px;
	border: 1px solid #CCCCCC;
	margin: 10px 0;
	background: url("img/bg.png");
	color: #505354;
	padding-left: 10px;
	padding-top: 5px;
}

.boton{
	color: white;
	background-color: #149203;
	border-radius: 5px;
	padding: 5px 0;
	width: 230px;
	height: 35px;
	text-align: center;
	border: 1px solid #036e27;
	text-shadow: 1px 1px 1px #036e27;
	box-shadow: 0px 0px 3px 0px #036e27;
	font-weight: 600;
	margin-top: 20px;
	font-size: 15px;
	margin-bottom: 20px;
}

.sexo{
	font-weight: 600;
}

#tipo{
	display: none;
}

.textform{
	font-size: 14px;
}

#escolar{
	margin-top: 20px;
}

.datos{
	margin-top: -10px;
	padding: 0;
	font-size: 12px
}

#zonas{
	text-align: right;
	margin-right: 15px;
	margin-top: 25px;
	margin-bottom: 0px;
}

#zonas li{
	display: inline;
	padding: 7px;
}

#actual{
	color: #D24949;
}

.lista{
	margin: 0;
	padding: 20px 10%;
	background-color: rgba(0, 0, 0, 0.05);
}

.lista:nth-child(2n) {
    background-color: rgba(0, 0, 0, 0);
}

.lista p{
	font-size: 20px;
	text-align: left;
	margin: 0;
}

.lista p span{
	text-align: right;
	float: right;
	font-size: 13px;
}

.h2{
	margin-bottom: 40px;
	margin-top:30px;
}

.flecha{
	float: right;
	margin-top: 5px;
	margin-left: 30px;
}

div.row:last-child {
	padding-bottom: 60px;
}



/* MEDIA QUERIES */
/* ================================================== */
@media (max-width: 768px) 
{
	header {
		text-align: center;
		border-bottom: 1px solid #babcbd;
		width: 100%;
		padding-bottom: 20px;
		background-image: none;
	}

}


@media (max-width: 992px)
{
	.left {
		width: 100%;
		line-height: 30px;
		border-right: none;
		padding-right: 10%;
	}
}












